.bg-blue-grey-100 {
    background-color: #CFD8DC !important;
}

.bg-light-blue-100 {
    background-color: #B3E5FC !important;
}

.bg-blue-700 {
    background-color: #1976D2 !important;
}

.bg-orange-100 {
    background-color: #FFE0B2 !important;
}